@import "@arcgis/core/assets/esri/themes/light/main.css";
@import "@esri/calcite-components/dist/calcite/calcite.css";

html,
body {
  margin: 0;
}

arcgis-map {
  display: block;
  height: 100vh;
}

#filter-label {
  background: white;
  padding: 12px;
  border-radius: 6px;
}
